body {
	font-family:verdana;
	color:#d9d9d9;
	background-color:#404040;
}
div {
	text-align: left;
	width: 70%;
}
.navLink {
	font-size: 18pt;
	font-weight: bold;
	margin: 10px
}
nav {
	background-color: #d9d9d9;
	padding: 20px;
}
a {
	text-decoration: none;
}